@import "tailwindcss";
@theme {
  --color-bg: #0a0a0a;
  --color-surface: #161616;
  --color-border: #27272a;
  --color-text: #f5f5f5;
  --color-muted: #a1a1aa;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}